.App {
  text-align: center;
  font-size: medium;
  position: relative;
  /* overflow: hidden;
  animation: fadein 4s ease-in-out; */
  
}
.mainTitle{
  position: relative;
  top: -150px;
  margin: 5%;
  font-size: 50px;
  overflow: hidden;
  animation: fadein 4s ease-in-out;
}
.container-subtitle{
  display: flex;
  animation: fadein 4s ease-in-out;
}
.subTitleForEating{
  flex : 1;
  animation: fadein 4s ease-in-out;
}
.subTitleForSleep{
  flex : 1;
  animation: fadein 4s ease-in-out;
}
.subTitleForExercise{
  flex : 1;
  animation: fadein 4s ease-in-out;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  background: url(./image/background.jpg);
}

.App-link {
  color: #617d85;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadein{
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
