@font-face {
  font-family: 'Dovemayo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.App {
  text-align: center;
  font-size: medium;
  position: relative;
  font-family: "Dovemayo";
  /* overflow: hidden;
  animation: fadein 4s ease-in-out; */
  
}
.mainTitle{
  position: relative;
  top: -150px;
  margin: 5%;
  font-size: 100px;
  width: 100vw;
  justify-content: center;
  /* overflow: hidden; */
  animation: fadein 4s ease-in-out;
}
.container-subtitle{
  display: flex;
  width: 100vw;
  margin-bottom: 10vh;
  animation: fadein 4s ease-in-out;
}
.subTitleForEating{
  flex : 1;
  margin-left: 5vw;
  animation: fadein 4s ease-in-out;
}
.subTitleForSleep{
  flex : 1;
  animation: fadein 4s ease-in-out;
}
.subTitleForExercise{
  flex : 1;
  margin-right: 5vw;
  animation: fadein 4s ease-in-out;
}
.MainPage{
  height: 100vh;
  z-index: 2;
}
.slot{
  width: 100vw;
  height: 15vh;
}
.slottt-machine-recipe__mask {
  width: 100%;
  height: 150px;
  overflow: hidden; 
  position: relative;
  display: inline-block;
  margin-bottom: -40px;
}

.slottt-machine-recipe__items_container {
  position: absolute;
}
.slottt-machine-recipe__item {
  min-height: 150px;
  max-height: 150px;
  margin: 0px;
  padding: 0px;
  background-size: contain;
}
.ResponsivePie{
  flex : 1
}
  .Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
.modal-body{
  position: absolute;
  width: 100px;
  height: 500px;
  padding: 40px;
  text-align: center;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #617d85;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadein{
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
